body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
nav,
header {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

body,
html {
    font-size: 12pt;
    height: 100%;
    font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
}

body {
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
    font-weight: normal;
}

img {
    border: none;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.hover {
    opacity: .8;
}

.row-nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.flex-tow {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.flex-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.box-pack {
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.box-pack-right {
    -webkit-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.box-pack-justify {
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.box-align {
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-rowWrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.border-t,
.border-b {
    position: relative;
}

.border-t:before,
.border-b:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ddd;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.border-b:after {
    top: auto;
    bottom: 0;
}

.border-l,
.border-r {
    position: relative;
}

.border-l:before,
.border-r:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ddd;
    bottom: 0;
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.border-r:after {
    left: auto;
    right: 0;
}

* {
    outline: none;
}

[v-cloak] {
    display: none !important;
}